# Python
*.pyc
*.pyo
__pycache__/

# Virtual environment
venv/

# Django secret and local settings
.env

# Database
*.sqlite3

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/



